body {
    background-color: rgb(109, 240, 179);
}

p {
    color: rgb(16, 16, 17);
    font-size: 20px;
    background-color: rgb(109, 240, 179);
}

.entidades {
    text-align: center;
}

section {
    background-color: rgb(109, 240, 179);
}

img {
    margin: auto;
    display: block;
}

hr {
    color: black;
}

#seccion2,
.azul {
    color: darkred;
    background-color: rgb(228, 221, 127);
}

section>h3 {
    color: crimson;
    text-align: center;
}

section.Pseudo li {
    color: darkgoldenrod;
    list-style: none;
    text-align: center;
}

section li {
    color: darkgoldenrod;
}

p.pa {
    color: darkmagenta;
}


/* Estados de los vinculos, forma de modificar un enlace */


/* Link, visited, hover, active de esta forma aplicar estilos diferentes luego de ser visitados*/

.pseudoselector:link,
.pseudoselector:visited {
    text-decoration: none;
    background-color: darkorange;
    border: 1px solid red;
    color: rgb(16, 16, 17);
    /*display: block;*/
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
}

.pseudoselector:hover,
.pseudoselector:active {
    background-color: rgb(228, 221, 127);
    color: saddlebrown;
}

section.Pseudo li:nth-child(2) {
    font-size: 24px;
    font-family: cursive;
}

.estiloTexto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gray;
    font-style: inherit;
    font-weight: lighter;
    font-size: 24px;
    text-transform: uppercase;
    text-align: justify;
}

.tamañosFuente {
    font-size: 120%;
}